bin/
lib/
doc/
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/launch.json
.vs/
*.obj
*.ilk
*.dll
*.lib
*.pdb
.sconsign.dblite
.sconf_temp
config.log
*.exe
*.o
*.os
.DS_Store
.vscode/ipch/
*.dat
src/data/schemas/*.h
*.bin